@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


.container {
  width: 1000px;
  margin: auto;
}

.indexheader {
  font-family: 'Space Mono';
  font-size: 30px;
}

.indexparagraph {
  font-family: 'Poppins';
  font-size: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.headertext {
  width: 700px;
  margin-right: auto;
}

.headerimage {
  border-radius: 20px;
}