@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.maincontainer {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  margin-right: 40px;
  margin-left: 40px;
}

.indexheader {
  font-size: 30px;
}

.indexparagraph {
  font-size: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.headertext {
  width: 70%;
  margin-right: auto;
}

.headerimage {
  border-radius: 20px;
}